*
!*/

!.git/*
!.gitignore
!.gitmodules
!.shellcheckrc
!.stylua.toml
!.tool-versions

!etc/systemd/system/battery_thresholds.service

!home/.asdfrc
!home/.zshenv
!home/.ssh/config

!home/config/awesome/**/*.lua
!home/config/awesome/**/*.svg
!home/config/awesome/**/*.png
!home/config/awesome/**/*.jpg
!home/config/awesome/configuration/picom.conf
!home/config/awesome/configuration/rofi.rasi
!home/config/awesome/ui/panels/central-panel/quick-settings/airplane-mode/airplane_mode_status
!home/config/awesome/ui/panels/central-panel/quick-settings/dnd/dnd_status
!home/config/awesome/utilities/screensht
!home/config/awesome/utilities/xcolor-pick

!home/config/bat/config

!home/config/Code/User/settings.json

!home/config/fcitx5/conf/*.conf
!home/config/fcitx5/config
!home/config/fcitx5/profile

!home/config/git/config

!home/config/libskk/rules/StickyShift/keymap/hiragana.json
!home/config/libskk/rules/StickyShift/keymap/katakana.json
!home/config/libskk/rules/StickyShift/metadata.json

!home/config/mpd/mpd.conf

!home/config/mpDris2/mpDris2.conf

!home/config/ncmpcpp/bindings
!home/config/ncmpcpp/config

!home/config/npm/npmrc

!home/config/starship/starship.toml

!home/config/wezterm/*.lua
!home/config/wezterm/color/nordfox.toml

!home/config/X11/xinitrc
!home/config/X11/Xresource

!home/config/zsh/*.zsh
!home/config/zsh/.zprofile
!home/config/zsh/.zshrc

!local/share/fonts/**/*.ttf
!local/share/fonts/**/*.otf
!local/share/fonts/**/LICENSE
!local/share/fonts/**/*.txt

!usr/sbin/battery_thresholds
