*
!*/

!.git/*
!.vscode/settings.json
!.gitignore
!.gitmodules
!.shellcheckrc
!.stylua.toml
!.tool-versions
!deno.jsonc
!deno.lock
!dotfiles.ts

!config/asdf/rc

!config/awesome/**/*.lua
!config/awesome/**/*.svg
!config/awesome/**/*.png
!config/awesome/**/*.jpg
!config/awesome/configuration/picom.conf
!config/awesome/configuration/rofi.rasi
!config/awesome/modules/awedock/rubato/images/*.gif
!config/awesome/modules/awedock/rubato/LICENSE
!config/awesome/modules/awedock/rubato/README.md
!config/awesome/modules/awedock/rubato/rubato-1.1-1.rockspec
!config/awesome/ui/panels/central-panel/quick-settings/airplane-mode/airplane_mode_status
!config/awesome/ui/panels/central-panel/quick-settings/dnd/dnd_status
!config/awesome/utilities/screensht
!config/awesome/utilities/xcolor-pick

!config/bat/config

!config/Code/User/settings.json

!config/fcitx5/conf/*.conf
!config/fcitx5/config
!config/fcitx5/profile

!config/gh/config.yml

!config/git/config

!config/lazygit/config.yml

!config/libskk/rules/StickyShift/keymap/hiragana.json
!config/libskk/rules/StickyShift/keymap/katakana.json
!config/libskk/rules/StickyShift/metadata.json

!config/mpd/mpd.conf

!config/mpDris2/mpDris2.conf

!config/ncmpcpp/bindings
!config/ncmpcpp/config

!config/npm/npmrc

!config/nvim/**/*.json
!config/nvim/**/*.lua

!config/pipewire/pipewire-pulse.conf.d/switch-on-connect.conf

!config/starship/starship.toml

!config/ssh/config

!config/wezterm/*.lua
!config/wezterm/color/catppuccin-frappe.toml

!config/X11/xinitrc
!config/X11/Xresource

!config/zsh/*.zsh
!config/zsh/.zshenv
!config/zsh/.zprofile
!config/zsh/.zshrc

!config/libinput-gestures.conf

!misc/fonts/**/*.ttf
!misc/fonts/**/*.otf
!misc/fonts/**/LICENSE
!misc/fonts/**/*.txt

!usr/sbin/battery_thresholds
