#!/bin/bash

{{ if eq .chezmoi.os "darwin" }}

# Prevents .DS_Store file creation over network connections
defaults write com.apple.desktopservices DSDontWriteNetworkStores -bool true

# Show all file extensions in Finder
defaults write -g AppleShowAllExtensions -bool true

# Disable the crash reporter dialog
defaults write com.apple.CrashReporter DialogType -string "none"

# Remove all persistent applications from the Dock
defaults write com.apple.dock persistent-apps -array

# Automatically hide and show the Dock
defaults write com.apple.dock autohide -bool true

# Do not show recent applications in Dock
defaults write com.apple.dock show-recents -bool false

# Show all files in Finder (including hidden files)
defaults write com.apple.finder AppleShowAllFiles -bool true

# Show the path bar in Finder
defaults write com.apple.finder ShowPathbar -bool true

# Show the status bar in Finder
defaults write com.apple.finder ShowStatusBar -bool true

# Disable the warning when changing a file extension in Finder
defaults write com.apple.finder FXEnableExtensionChangeWarning -bool false

# Set the preferred view style to 'Nlsv' (list view)
defaults write com.apple.finder "FXPreferredViewStyle" -string "Nlsv"

# Sort folders first in Finder
defaults write com.apple.finder "_FXSortFoldersFirst" -bool true

# Set the delay for toolbar title view rollover to 0
defaults write NSGlobalDomain "NSToolbarTitleViewRolloverDelay" -float 0

# Disable automatic spelling correction
defaults write -g NSAutomaticSpellingCorrectionEnabled -bool false

# Disable automatic period substitution
defaults write -g NSAutomaticPeriodSubstitutionEnabled -bool false

# Disable automatic dash substitution
defaults write -g NSAutomaticDashSubstitutionEnabled -bool false

# Disable automatic quote substitution
defaults write -g NSAutomaticQuoteSubstitutionEnabled -bool false

# Set DNS servers for Wi-Fi
networksetup -setdnsservers Wi-Fi 2606:4700:4700::1111 2606:4700:4700::1001 1.1.1.1 1.0.0.1

# Set the tile size for Dock items to 36 and restart the Dock
defaults write com.apple.dock tilesize -int 36 && killall Dock

# Do not create desktop icons for new hard drives, servers, and removable media
defaults write com.apple.finder CreateDesktop -boolean false

# Set the scroll direction to natural
defaults write com.apple.swipescrolldirection 1

# Do not use the keychain for GPGTools
defaults write org.gpgtools.common UseKeychain NO

for app in "Dock" \
	"Finder" \
	"SystemUIServer"; do
	killall "${app}" &>/dev/null
done

{{ end }}
