# global
**/.DS_Store

# Platform specific directories
.chezmoiscripts/**
Library/

# ignored target
.ssh/SSH_AUTH_SOCK
.ssh/agent-local

/.Trash/
/.android/
/.cache/
/.cargo/
/.datadog-agent/
/.docker/
/.dropbox/
/.ecr/
/.gradle/
/.ivy2/
/.m2/
/.mill/
/.npm/
/.nuget/
/.sbt/
/.slack/
/.terraform.d/
/.rustup/
/.wakatime/
/.yarn/
/src/

/.CFUserTextEncoding
/.vim/
/.viminfo
/.config/chezmoi/
/.config/zellij/config.kdl.bak*
.config/Code/User/managed/settings.json
.config/Code/User/managed/keybindings.json
/.lesshst
/.javacpp/
/.cups/

.zcompdump
.bash_history
.node_repl_history
.config/karabiner/assets
.config/karabiner/automatic_backups
.config/jgit/
.config/configstore/update-notifier-yo.json
.config/configstore/

# Linux
.local/share/fonts/
