#!/usr/bin/env -S bash -euo pipefail

if [[ -e /opt/homebrew/bin/brew ]]; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi

if !(type "brew" >/dev/null 2>&1); then
  echo "Install homebrew"
fi

if (type "brew" >/dev/null 2>&1); then
  # Brewfile hash: {{ include "dot_config/homebrew/Brewfile" | sha256sum }}
  brew update
  brew bundle --file {{ joinPath .chezmoi.sourceDir "dot_config/homebrew/Brewfile" | quote }}
  brew bundle cleanup --force --file {{ joinPath .chezmoi.sourceDir "dot_config/homebrew/Brewfile" | quote }}
  brew upgrade
  brew cleanup
fi
